In [47]:
import pandas as pd
import pandas_ta as ta

df = pd.DataFrame()
df = df.ta.ticker("MSFT")

df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.062427,0.064042,0.062427,0.063503,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.063503,0.064042,0.061350,0.061888,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.061888,0.062427,0.060274,0.060812,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0
2024-01-03 00:00:00-05:00,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0
2024-01-04 00:00:00-05:00,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.029999,374.690002,22502719,0.0,0.0

In [55]:
help(df.ta.log_return)

Help on method log_return in module pandas_ta.core:

log_return(length=None, cumulative=False, percent=False, offset=None, **kwargs) method of pandas_ta.core.AnalysisIndicators instance
    # Performance

In [48]:
df.ta.log_return(cumulative=True, append=True)
df.ta.percent_return(cumulative=True, append=True)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1
Date,,,,,,,,,
1986-03-13 00:00:00-05:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0,0.000000,0.000000
1986-03-14 00:00:00-05:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0,0.035090,0.035713
1986-03-17 00:00:00-05:00,0.062427,0.064042,0.062427,0.063503,133171200,0.0,0.0,0.052193,0.053579
1986-03-18 00:00:00-05:00,0.063503,0.064042,0.061350,0.061888,67766400,0.0,0.0,0.026432,0.026784
1986-03-19 00:00:00-05:00,0.061888,0.062427,0.060274,0.060812,47894400,0.0,0.0,0.008889,0.008928
...,...,...,...,...,...,...,...,...,...
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0,8.724705,6152.058326
2024-01-03 00:00:00-05:00,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0,8.723976,6147.578972
2024-01-04 00:00:00-05:00,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0,8.716773,6103.447179
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0,8.716256,6100.294872
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.029999,374.690002,22502719,0.0,0.0,8.734952,6215.435596

In [49]:
for i in [10,20,50,100,150]:
    df[f'sma{i}'] = df.ta.sma(length=i)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1,sma10,sma20,sma50,sma100,sma150
Date,,,,,,,,,,,,,,
1986-03-13 00:00:00-05:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
1986-03-14 00:00:00-05:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0,0.035090,0.035713,NaN,NaN,NaN,NaN,NaN
1986-03-17 00:00:00-05:00,0.062427,0.064042,0.062427,0.063503,133171200,0.0,0.0,0.052193,0.053579,NaN,NaN,NaN,NaN,NaN
1986-03-18 00:00:00-05:00,0.063503,0.064042,0.061350,0.061888,67766400,0.0,0.0,0.026432,0.026784,NaN,NaN,NaN,NaN,NaN
1986-03-19 00:00:00-05:00,0.061888,0.062427,0.060274,0.060812,47894400,0.0,0.0,0.008889,0.008928,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0,8.724705,6152.058326,373.557001,372.396001,364.107605,344.335277,341.213345
2024-01-03 00:00:00-05:00,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0,8.723976,6147.578972,373.352002,372.469000,364.999438,344.825327,341.485073
2024-01-04 00:00:00-05:00,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0,8.716773,6103.447179,372.820001,372.240001,365.785179,345.307898,341.757790
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0,8.716256,6100.294872,372.533002,372.187502,366.542969,345.758393,342.001423
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.029999,374.690002,22502719,0.0,0.0,8.734952,6215.435596,372.648001,372.374501,367.237170,346.299999,342.272600

In [50]:
df.ta.rsi(length=10)

Date
1986-03-13 00:00:00-05:00          NaN
1986-03-14 00:00:00-05:00          NaN
1986-03-17 00:00:00-05:00          NaN
1986-03-18 00:00:00-05:00          NaN
1986-03-19 00:00:00-05:00          NaN
                               ...
2024-01-02 00:00:00-05:00    46.155150
2024-01-03 00:00:00-05:00    45.604677
2024-01-04 00:00:00-05:00    40.338138
2024-01-05 00:00:00-05:00    39.971781
2024-01-08 00:00:00-05:00    56.138705
Name: RSI_10, Length: 9532, dtype: float64

In [51]:
for i in [10,20,50,100,150]:
    df[f'rsi{i}'] = df.ta.rsi(length=i)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1,sma10,sma20,sma50,sma100,sma150,rsi10,rsi20,rsi50,rsi100,rsi150
Date,,,,,,,,,,,,,,,,,,,
1986-03-13 00:00:00-05:00,0.054893,0.062965,0.054893,0.060274,1031788800,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-14 00:00:00-05:00,0.060274,0.063504,0.060274,0.062427,308160000,0.0,0.0,0.035090,0.035713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-17 00:00:00-05:00,0.062427,0.064042,0.062427,0.063503,133171200,0.0,0.0,0.052193,0.053579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-18 00:00:00-05:00,0.063503,0.064042,0.061350,0.061888,67766400,0.0,0.0,0.026432,0.026784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-19 00:00:00-05:00,0.061888,0.062427,0.060274,0.060812,47894400,0.0,0.0,0.008889,0.008928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0,8.724705,6152.058326,373.557001,372.396001,364.107605,344.335277,341.213345,46.155150,53.283424,56.119899,55.709981,54.959716
2024-01-03 00:00:00-05:00,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0,8.723976,6147.578972,373.352002,372.469000,364.999438,344.825327,341.485073,45.604677,53.028678,56.028677,55.667657,54.932642
2024-01-04 00:00:00-05:00,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0,8.716773,6103.447179,372.820001,372.240001,365.785179,345.307898,341.757790,40.338138,50.523591,55.127797,55.249939,54.665549
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0,8.716256,6100.294872,372.533002,372.187502,366.542969,345.758393,342.001423,39.971781,50.344770,55.063266,55.220043,54.646443
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.029999,374.690002,22502719,0.0,0.0,8.734952,6215.435596,372.648001,372.374501,367.237170,346.299999,342.272600,56.138705,56.292584,56.941840,56.096541,55.221927

In [52]:
df.dropna(inplace=True)

In [53]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1,sma10,sma20,sma50,sma100,sma150,rsi10,rsi20,rsi50,rsi100,rsi150
Date,,,,,,,,,,,,,,,,,,,
1986-10-15 00:00:00-04:00,0.072114,0.075881,0.072114,0.075343,63532800,0.0,0.0,0.223148,0.250006,0.068643,0.065656,0.064058,0.065201,0.064892,74.606802,67.515369,59.172446,56.294817,55.525611
1986-10-16 00:00:00-04:00,0.075343,0.075881,0.074805,0.075343,21859200,0.0,0.0,0.223148,0.250006,0.070150,0.066221,0.064370,0.065266,0.064978,74.606802,67.515369,59.172446,56.294817,55.525611
1986-10-17 00:00:00-04:00,0.075343,0.078034,0.075343,0.077495,124444800,0.0,0.0,0.251317,0.285718,0.071818,0.066894,0.064736,0.065330,0.065071,77.872677,69.942277,60.653448,57.312287,56.385694
1986-10-20 00:00:00-04:00,0.077495,0.079110,0.075881,0.078034,43545600,0.0,0.0,0.258237,0.294646,0.073056,0.067620,0.065102,0.065384,0.065179,78.635973,70.521869,61.014236,57.561792,56.596958
1986-10-21 00:00:00-04:00,0.078572,0.081262,0.078572,0.081262,112377600,0.0,0.0,0.298781,0.348214,0.074482,0.068454,0.065489,0.065443,0.065315,82.630235,73.721920,63.086414,59.013581,57.830687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0,8.724705,6152.058326,373.557001,372.396001,364.107605,344.335277,341.213345,46.155150,53.283424,56.119899,55.709981,54.959716
2024-01-03 00:00:00-05:00,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0,8.723976,6147.578972,373.352002,372.469000,364.999438,344.825327,341.485073,45.604677,53.028678,56.028677,55.667657,54.932642
2024-01-04 00:00:00-05:00,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0,8.716773,6103.447179,372.820001,372.240001,365.785179,345.307898,341.757790,40.338138,50.523591,55.127797,55.249939,54.665549
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0,8.716256,6100.294872,372.533002,372.187502,366.542969,345.758393,342.001423,39.971781,50.344770,55.063266,55.220043,54.646443
2024-01-08 00:00:00-05:00,369.299988,375.200012,369.029999,374.690002,22502719,0.0,0.0,8.734952,6215.435596,372.648001,372.374501,367.237170,346.299999,342.272600,56.138705,56.292584,56.941840,56.096541,55.221927

In [54]:
df['Target'] = df['Open'].shift(-1)
df.dropna(inplace=True)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1,sma10,sma20,sma50,sma100,sma150,rsi10,rsi20,rsi50,rsi100,rsi150,Target
Date,,,,,,,,,,,,,,,,,,,,
1986-10-15 00:00:00-04:00,0.072114,0.075881,0.072114,0.075343,63532800,0.0,0.0,0.223148,0.250006,0.068643,0.065656,0.064058,0.065201,0.064892,74.606802,67.515369,59.172446,56.294817,55.525611,0.075343
1986-10-16 00:00:00-04:00,0.075343,0.075881,0.074805,0.075343,21859200,0.0,0.0,0.223148,0.250006,0.070150,0.066221,0.064370,0.065266,0.064978,74.606802,67.515369,59.172446,56.294817,55.525611,0.075343
1986-10-17 00:00:00-04:00,0.075343,0.078034,0.075343,0.077495,124444800,0.0,0.0,0.251317,0.285718,0.071818,0.066894,0.064736,0.065330,0.065071,77.872677,69.942277,60.653448,57.312287,56.385694,0.077495
1986-10-20 00:00:00-04:00,0.077495,0.079110,0.075881,0.078034,43545600,0.0,0.0,0.258237,0.294646,0.073056,0.067620,0.065102,0.065384,0.065179,78.635973,70.521869,61.014236,57.561792,56.596958,0.078572
1986-10-21 00:00:00-04:00,0.078572,0.081262,0.078572,0.081262,112377600,0.0,0.0,0.298781,0.348214,0.074482,0.068454,0.065489,0.065443,0.065315,82.630235,73.721920,63.086414,59.013581,57.830687,0.081262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-29 00:00:00-05:00,376.000000,377.160004,373.480011,376.040009,18723000,0.0,0.0,8.738548,6237.833381,373.543002,372.578001,363.303183,343.835556,340.950971,58.278514,58.385816,57.888612,56.524684,55.479830,373.859985
2024-01-02 00:00:00-05:00,373.859985,375.899994,366.769989,370.869995,25258600,0.0,0.0,8.724705,6152.058326,373.557001,372.396001,364.107605,344.335277,341.213345,46.155150,53.283424,56.119899,55.709981,54.959716,369.010010
2024-01-03 00:00:00-05:00,369.010010,373.260010,368.510010,370.600006,23083500,0.0,0.0,8.723976,6147.578972,373.352002,372.469000,364.999438,344.825327,341.485073,45.604677,53.028678,56.028677,55.667657,54.932642,370.670013
2024-01-04 00:00:00-05:00,370.670013,373.100006,367.170013,367.940002,20901500,0.0,0.0,8.716773,6103.447179,372.820001,372.240001,365.785179,345.307898,341.757790,40.338138,50.523591,55.127797,55.249939,54.665549,368.970001
2024-01-05 00:00:00-05:00,368.970001,372.059998,366.500000,367.750000,20987000,0.0,0.0,8.716256,6100.294872,372.533002,372.187502,366.542969,345.758393,342.001423,39.971781,50.344770,55.063266,55.220043,54.646443,369.299988

In [101]:
train_df = df[:'2023-03-31']
test_df = df['2023-04-01':]

In [102]:
import numpy as np
from torch import nn, Tensor
from torch.utils.data import TensorDataset, DataLoader

batch_size = 128
features_size = len(train_df.drop(['Target'], axis=1).columns)

train_data = TensorDataset(Tensor(np.array(train_df.drop(['Target'], axis=1))), Tensor(np.array(train_df[['Target']])))
test_data = TensorDataset(Tensor(np.array(test_df.drop(['Target'], axis=1))), Tensor(np.array(test_df[['Target']])))

train_loader = DataLoader(train_data, batch_size = batch_size)
test_loader = DataLoader(test_data, batch_size = batch_size)

In [103]:
print(batch_size, features_size)

128 19

In [104]:
hiddenSize = 256

class extract_tensor(nn.Module):
    def forward(self,x):
        # Output shape (batch, features, hidden)
        tensor, _ = x
        # Reshape shape (batch, hidden)
        return tensor[:, -1, :]

model = nn.Sequential(
    nn.RNN(19, hiddenSize, num_layers=1, batch_first=True),
    extract_tensor(),
    nn.Sequential(
        nn.Linear(hiddenSize, 128),
        nn.Linear(hiddenSize, 16),
        nn.Linear(hiddenSize, 1)
    )
)

In [105]:
from torch import optim

loss_function = nn.MSELoss()

# Only SGD, SpareAdam and Adagrad support spare gradients
optimizer = optim.SGD(model.parameters(), lr=1e-3, momentum=0.9)

In [106]:
from tqdm import tqdm

NUM_EPOCHS = 1

model.train() # put model in training mode

for epoch in range(NUM_EPOCHS):
  loop = tqdm(train_loader, position=0, leave=True)
  
  for (batch, labels) in loop:
    shape = batch.shape
    # batch = batch.reshape(shape[0], 1, shape[1])

    for input in batch:
      optimizer.zero_grad()
      output = model.forward(input)

      loss = loss_function(output, labels)
      loss.backward()

      optimizer.step()

  0%|                                                                                                                                                                                                       | 0/72 [00:00<?, ?it/s]

RuntimeError: input must have 3 dimensions, got 2